.card {
 border: 1px solid red;
 width: 25%;
 max-width: 25%;
 padding:28px;
 margin: 48px 24px;
 display: inline-block;
 }
.section{
    border: 1px solid red;  
    display: inline-block; 
    
}
body{
   
}
figure img{
    border-radius: 50%;
}